$pad:50px;
$paletaCromatica:(
	bgPrimario:lightblue,
	bgSecundario:lightgreen,
	fontPrimario:black,
	fontSecundario:lightblue
	);
@mixin flex-horizontal-around{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
@mixin flex-horizontal-around-mobile{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
@media only screen and (max-width: 768px){
	.footer-flex{
		@include flex-horizontal-around-mobile;
	}
}
.footer-flex{
	@include flex-horizontal-around;
}
footer{
	padding:$pad;
	background-color: map-get($paletaCromatica,bgPrimario);
}
